{% extends 'main.html' %}
{% load staticfiles %}

{% block monitorlist %}
<div class="row full-width">
    
 {% if role %}
     <div class="panel">
        <div class="row full-width">
		    <table>
				<tr>
				  <td><h6>МО</h6></td>
				  <td><h6>Мониторинг</h6></td>
				  <td><h6>Ответственный</h6></td>
				  <td><h6>Телефон</h6></td>
				  <td><h6>E-mail</h6></td>
				</tr >		    
			     {% for u in role %}
				<tr class="rowsel">
				  <td><h6>{{u.hosp}}</h6></td>
				  <td><h6>{{u.type}}</h6></td>
				  <td><h6>{{u.contact}}</h6></td>
				  <td><h6>{{u.tel}}</h6></td>
				  <td><h6>{{u.email}}</h6></td>
				</tr>		    
			    {% endfor %}
		    </table>

        </div>
			
    </div>
{% endif %}
 </div>



{% endblock %}
