{% extends 'medicament/document_form.html' %}
{% block monitorform %}
          <table class="table" id="table1" cellpadding="1" cellspacing="1">
		   <caption>Мониторинг: {{doc_type.name}}</caption>
		   <tr>
		    <th width="50%">Показатель</th>
		    <th>Значение</th>
		    <th>Прошлый период</th>
		   </tr>
		   <tr>
  	         <td class="row_mess" colspan="3" ><h5>Таблица 2.1. Численность и структура кадров работников здравоохранения</h5></td>
		   </tr>
		   <tr>
		     <td><h6>Число врачей (без аспирантов, интернов и ординаторов), работающих в медицинских организациях субъекта Российской Федерации</h6></td>
		     <td><input type="number" name="c2_1" min="0" max="9999" size="6" value="{{doc.c2_1}}"></td>
		     <td>{{doc_prev.c2_1}}</td>
		   <tr>
		     <td><h6>Число среднего медицинского персонала, работающего в медицинских организациях субъекта Российской Федерации</h6></td>
		     <td><input type="number" name="c2_2" min="0" max="9999" size="6" value="{{doc.c2_2}}"></td>
		     <td>{{doc_prev.c2_2}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число участковых врачей (без аспирантов, интернов и ординаторов), оказывающих медицинскую помощь сельскому населению (выбрать из справочника), всего</h6></td>
		     <td><input type="number" name="c2_3" min="0" max="9999" size="6" value="{{doc.c2_3}}"></td>
		     <td>{{doc_prev.c2_3}}</td>
		   </tr>
		   <tr>
		     <td><h6>в том силе,</h6></td>
		     <td></td>
		     <td></td>
		   </tr>
		   <tr>
		     <td><h6>Участковый врач терапевт</h6></td>
		     <td><input type="number" name="c2_3_1" min="0" max="9999" size="6" value="{{doc.c2_3_1}}"></td>
		     <td>{{doc_prev.c2_3_1}}</td>
		   </tr>
		   <tr>
		     <td><h6>Участковый врач педиатр</h6></td>
		     <td><input type="number" name="c2_3_2" min="0" max="9999" size="6" value="{{doc.c2_3_2}}"></td>
		     <td>{{doc_prev.c2_3_2}}</td>
		   </tr>
		   <tr>
		     <td><h6>Врач общей практики</h6></td>
		     <td><input type="number" name="c2_3_3" min="0" max="9999" size="6" value="{{doc.c2_3_3}}"></td>
		     <td>{{doc_prev.c2_3_3}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число среднего медицинского персонала, оказывающего медицинскую помощь сельскому населению (выбрать из справочника), всего</h6></td>
		     <td><input type="number" name="c2_4" min="0" max="9999" size="6" value="{{doc.c2_4}}"></td>
		     <td>{{doc_prev.c2_4}}</td>
		   </tr>
		   <tr>
		     <td><h6>в том силе,</h6></td>
		     <td></td>
		     <td></td>
		   </tr>
		   <tr>
		     <td><h6>Участковая медицинская сестра врача терапевта</h6></td>
		     <td><input type="number" name="c2_4_1" min="0" max="9999" size="6" value="{{doc.c2_4_1}}"></td>
		     <td>{{doc_prev.c2_4_1}}</td>
		   </tr>
		   <tr>
		     <td><h6>Участковая медицинская сестра врача педиатра</h6></td>
		     <td><input type="number" name="c2_4_2" min="0" max="9999" size="6" value="{{doc.c2_4_2}}"></td>
		     <td>{{doc_prev.c2_4_2}}</td>
		   </tr>
		   <tr>
		     <td><h6>Участковая медицинская сестра врача общей практики</h6></td>
		     <td><input type="number" name="c2_4_3" min="0" max="9999" size="6" value="{{doc.c2_4_3}}"></td>
		     <td>{{doc_prev.c2_4_3}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число врачей клинических специальностей (выбрать из списка), всего</h6></td>
		     <td><input type="number" name="c2_5" min="0" max="9999" size="6" value="{{doc.c2_5}}"></td>
		     <td>{{doc_prev.c2_5}}</td>
		   </tr>
		   <tr>
		     <td><h6>в том силе,</h6></td>
		     <td></td>
		     <td></td>
		   </tr>
		   <tr>
		     <td><h6>акушеры-гинекологи</h6></td>
		     <td><input type="number" name="c2_5_1" min="0" max="9999" size="6" value="{{doc.c2_5_1}}"></td>
		     <td>{{doc_prev.c2_5_1}}</td>
		   </tr>
		   <tr>
		     <td><h6>аллергологи-иммунологи</h6></td>
		     <td><input type="number" name="c2_5_2" min="0" max="9999" size="6" value="{{doc.c2_5_2}}"></td>
		     <td>{{doc_prev.c2_5_2}}</td>
		   </tr>
		   <tr>
		     <td><h6>гастроэнтерологи</h6></td>
		     <td><input type="number" name="c2_5_3" min="0" max="9999" size="6" value="{{doc.c2_5_3}}"></td>
		     <td>{{doc_prev.c2_5_3}}</td>
		   </tr>
		   <tr>
		     <td><h6>гематологи</h6></td>
		     <td><input type="number" name="c2_5_4" min="0" max="9999" size="6" value="{{doc.c2_5_4}}"></td>
		     <td>{{doc_prev.c2_5_4}}</td>
		   </tr>
		   <tr>
		     <td><h6>гериатры</h6></td>
		     <td><input type="number" name="c2_5_5" min="0" max="9999" size="6" value="{{doc.c2_5_5}}"></td>
		     <td>{{doc_prev.c2_5_5}}</td>
		   </tr>
		   <tr>
		     <td><h6>дерматовенерологи</h6></td>
		     <td><input type="number" name="c2_5_6" min="0" max="9999" size="6" value="{{doc.c2_5_6}}"></td>
		     <td>{{doc_prev.c2_5_6}}</td>
		   </tr>
		   <tr>
		     <td><h6>диабетологи</h6></td>
		     <td><input type="number" name="c2_5_7" min="0" max="9999" size="6" value="{{doc.c2_5_7}}"></td>
		     <td>{{doc_prev.c2_5_7}}</td>
		   </tr>
		   <tr>
		     <td><h6>инфекционисты</h6></td>
		     <td><input type="number" name="c2_5_8" min="0" max="9999" size="6" value="{{doc.c2_5_8}}"></td>
		     <td>{{doc_prev.c2_5_8}}</td>
		   </tr>
		   <tr>
		     <td><h6>кардиологи</h6></td>
		     <td><input type="number" name="c2_5_9" min="0" max="9999" size="6" value="{{doc.c2_5_9}}"></td>
		     <td>{{doc_prev.c2_5_9}}</td>
		   </tr>
		   <tr>
		     <td><h6>кардиологи детские</h6></td>
		     <td><input type="number" name="c2_5_10" min="0" max="9999" size="6" value="{{doc.c2_5_10}}"></td>
		     <td>{{doc_prev.c2_5_10}}</td>
		   </tr>
		   <tr>
		     <td><h6>колопроктологи</h6></td>
		     <td><input type="number" name="c2_5_11" min="0" max="9999" size="6" value="{{doc.c2_5_11}}"></td>
		     <td>{{doc_prev.c2_5_11}}</td>
		   </tr>
		   <tr>
		     <td><h6>неврологи</h6></td>
		     <td><input type="number" name="c2_5_12" min="0" max="9999" size="6" value="{{doc.c2_5_12}}"></td>
		     <td>{{doc_prev.c2_5_12}}</td>
		   </tr>
		   <tr>
		     <td><h6>нейрохирурги</h6></td>
		     <td><input type="number" name="c2_5_13" min="0" max="9999" size="6" value="{{doc.c2_5_13}}"></td>
		     <td>{{doc_prev.c2_5_13}}</td>
		   </tr>
		   <tr>
		     <td><h6>неонатологи</h6></td>
		     <td><input type="number" name="c2_5_14" min="0" max="9999" size="6" value="{{doc.c2_5_14}}"></td>
		     <td>{{doc_prev.c2_5_14}}</td>
		   </tr>
		   <tr>
		     <td><h6>нефрологи</h6></td>
		     <td><input type="number" name="c2_5_15" min="0" max="9999" size="6" value="{{doc.c2_5_15}}"></td>
		     <td>{{doc_prev.c2_5_15}}</td>
		   </tr>
		   <tr>
		     <td><h6>общей практики (семейные)</h6></td>
		     <td><input type="number" name="c2_5_16" min="0" max="9999" size="6" value="{{doc.c2_5_16}}"></td>
		     <td>{{doc_prev.c2_5_16}}</td>
		   </tr>
		   <tr>
		     <td><h6>онкологи</h6></td>
		     <td><input type="number" name="c2_5_17" min="0" max="9999" size="6" value="{{doc.c2_5_17}}"></td>
		     <td>{{doc_prev.c2_5_17}}</td>
		   </tr>
		   <tr>
		     <td><h6>онкологи детские</h6></td>
		     <td><input type="number" name="c2_5_18" min="0" max="9999" size="6" value="{{doc.c2_5_18}}"></td>
		     <td>{{doc_prev.c2_5_18}}</td>
		   </tr>
		   <tr>
		     <td><h6>оториноларингологи</h6></td>
		     <td><input type="number" name="c2_5_19" min="0" max="9999" size="6" value="{{doc.c2_5_19}}"></td>
		     <td>{{doc_prev.c2_5_19}}</td>
		   </tr>
		   <tr>
		     <td><h6>офтальмологи</h6></td>
		     <td><input type="number" name="c2_5_20" min="0" max="9999" size="6" value="{{doc.c2_5_20}}"></td>
		     <td>{{doc_prev.c2_5_20}}</td>
		   </tr>
		   <tr>
		     <td><h6>педиатры</h6></td>
		     <td><input type="number" name="c2_5_21" min="0" max="9999" size="6" value="{{doc.c2_5_21}}"></td>
		     <td>{{doc_prev.c2_5_21}}</td>
		   </tr>
		   <tr>
		     <td><h6>профпатологи</h6></td>
		     <td><input type="number" name="c2_5_22" min="0" max="9999" size="6" value="{{doc.c2_5_22}}"></td>
		     <td>{{doc_prev.c2_5_22}}</td>
		   </tr>
		   <tr>
		     <td><h6>no рентгенэндоваскулярным диагностике и лечению</h6></td>
		     <td><input type="number" name="c2_5_23" min="0" max="9999" size="6" value="{{doc.c2_5_23}}"></td>
		     <td>{{doc_prev.c2_5_23}}</td>
		   </tr>
		   <tr>
		     <td><h6>психиатры</h6></td>
		     <td><input type="number" name="c2_5_24" min="0" max="9999" size="6" value="{{doc.c2_5_24}}"></td>
		     <td>{{doc_prev.c2_5_24}}</td>
		   </tr>
		   <tr>
		     <td><h6>психиатры-наркологи</h6></td>
		     <td><input type="number" name="c2_5_25" min="0" max="9999" size="6" value="{{doc.c2_5_25}}"></td>
		     <td>{{doc_prev.c2_5_25}}</td>
		   </tr>
		   <tr>
		     <td><h6>пульмонологи</h6></td>
		     <td><input type="number" name="c2_5_26" min="0" max="9999" size="6" value="{{doc.c2_5_26}}"></td>
		     <td>{{doc_prev.c2_5_26}}</td>
		   </tr>
		   <tr>
		     <td><h6>ревматологи</h6></td>
		     <td><input type="number" name="c2_5_27" min="0" max="9999" size="6" value="{{doc.c2_5_27}}"></td>
		     <td>{{doc_prev.c2_5_27}}</td>
		   </tr>
		   <tr>
		     <td><h6>скорой медицинской помощи</h6></td>
		     <td><input type="number" name="c2_5_28" min="0" max="9999" size="6" value="{{doc.c2_5_28}}"></td>
		     <td>{{doc_prev.c2_5_28}}</td>
		   </tr>
		   <tr>
		     <td><h6>терапевты</h6></td>
		     <td><input type="number" name="c2_5_29" min="0" max="9999" size="6" value="{{doc.c2_5_29}}"></td>
		     <td>{{doc_prev.c2_5_29}}</td>
		   </tr>
		   <tr>
		     <td><h6>травматология и ортопеды</h6></td>
		     <td><input type="number" name="c2_5_30" min="0" max="9999" size="6" value="{{doc.c2_5_30}}"></td>
		     <td>{{doc_prev.c2_5_30}}</td>
		   </tr>
		   <tr>
		     <td><h6>урологи</h6></td>
		     <td><input type="number" name="c2_5_31" min="0" max="9999" size="6" value="{{doc.c2_5_31}}"></td>
		     <td>{{doc_prev.c2_5_31}}</td>
		   </tr>
		   <tr>
		     <td><h6>урологи-андрологи детские</h6></td>
		     <td><input type="number" name="c2_5_32" min="0" max="9999" size="6" value="{{doc.c2_5_32}}"></td>
		     <td>{{doc_prev.c2_5_32}}</td>
		   </tr>
		   <tr>
		     <td><h6>фтизиатры</h6></td>
		     <td><input type="number" name="c2_5_33" min="0" max="9999" size="6" value="{{doc.c2_5_33}}"></td>
		     <td>{{doc_prev.c2_5_33}}</td>
		   </tr>
		   <tr>
		     <td><h6>хирурги</h6></td>
		     <td><input type="number" name="c2_5_34" min="0" max="9999" size="6" value="{{doc.c2_5_34}}"></td>
		     <td>{{doc_prev.c2_5_34}}</td>
		   </tr>
		   <tr>
		     <td><h6>хирурги детские</h6></td>
		     <td><input type="number" name="c2_5_35" min="0" max="9999" size="6" value="{{doc.c2_5_35}}"></td>
		     <td>{{doc_prev.c2_5_35}}</td>
		   </tr>
		   <tr>
		     <td><h6>хирурги пластические</h6></td>
		     <td><input type="number" name="c2_5_36" min="0" max="9999" size="6" value="{{doc.c2_5_36}}"></td>
		     <td>{{doc_prev.c2_5_36}}</td>
		   </tr>
		   <tr>
		     <td><h6>хирурги сердечно-сосудистые</h6></td>
		     <td><input type="number" name="c2_5_37" min="0" max="9999" size="6" value="{{doc.c2_5_37}}"></td>
		     <td>{{doc_prev.c2_5_37}}</td>
		   </tr>
		   <tr>
		     <td><h6>хирурги торакальные</h6></td>
		     <td><input type="number" name="c2_5_38" min="0" max="9999" size="6" value="{{doc.c2_5_38}}"></td>
		     <td>{{doc_prev.c2_5_38}}</td>
		   </tr>
		   <tr>
		     <td><h6>хирурги челюстно-лицевые</h6></td>
		     <td><input type="number" name="c2_5_39" min="0" max="9999" size="6" value="{{doc.c2_5_39}}"></td>
		     <td>{{doc_prev.c2_5_39}}</td>
		   </tr>
		   <tr>
		     <td><h6>эндокринологи</h6></td>
		     <td><input type="number" name="c2_5_40" min="0" max="9999" size="6" value="{{doc.c2_5_40}}"></td>
		     <td>{{doc_prev.c2_5_40}}</td>
		   </tr>
		   <tr>
		     <td><h6>эндокринологи детские</h6></td>
		     <td><input type="number" name="c2_5_41" min="0" max="9999" size="6" value="{{doc.c2_5_41}}"></td>
		     <td>{{doc_prev.c2_5_41}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число среднего медицинского персонала, работающих с  врачами клинических специальностей</h6></td>
		     <td><input type="number" name="c2_6" min="0" max="9999" size="6" value="{{doc.c2_6}}"></td>
		     <td>{{doc_prev.c2_6}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число врачей, работающих в медицинских организациях, оказывающих медицинскую помощь в амбулаторных условиях</h6></td>
		     <td><input type="number" name="c2_7" min="0" max="9999" size="6" value="{{doc.c2_7}}"></td>
		     <td>{{doc_prev.c2_7}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число занятых  врачебных должностей, оказывающих медицинскую помощь в амбулаторных условиях</h6></td>
		     <td><input type="number" name="c2_8" min="0" max="9999" size="6" value="{{doc.c2_8}}"></td>
		     <td>{{doc_prev.c2_8}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число среднего медицинского персонала, работающих в медицинских организациях, оказывающих медицинскую помощь в амбулаторных условиях</h6></td>
		     <td><input type="number" name="c2_9" min="0" max="9999" size="6" value="{{doc.c2_9}}"></td>
		     <td>{{doc_prev.c2_9}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число занятых  должностей  среднего медицинского персонала, оказывающих медицинскую помощь в амбулаторных условиях</h6></td>
		     <td><input type="number" name="c2_10" min="0" max="9999" size="6" value="{{doc.c2_10}}"></td>
		     <td>{{doc_prev.c2_10}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число штатных должностей врачей, оказывающих медицинскую  помощь в амбулаторных условиях</h6></td>
		     <td><input type="number" name="c2_11" min="0" max="9999" size="6" value="{{doc.c2_11}}"></td>
		     <td>{{doc_prev.c2_11}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число штатных должностей среднего медицинского персонала, оказывающих медицинскую помощь  в амбулаторных условиях</h6></td>
		     <td><input type="number" name="c2_12" min="0" max="9999" size="6" value="{{doc.c2_12}}"></td>
		     <td>{{doc_prev.c2_12}}</td>
		   </tr>
		   <tr>
		     <td><h6>Число  врачей дефицитных для субъекта Российской Федерации должностей на конец отчетного периода (выбрать из справочника), всего</h6></td>
		     <td><input type="number" name="c2_13" min="0" max="9999" size="6" value="{{doc.c2_13}}"></td>
		     <td>{{doc_prev.c2_13}}</td>
		   </tr>
		   <tr>
		     <td><h6>в том силе,</h6></td>
		     <td></td>
		     <td></td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_1" min="0" max="9999" size="6" value="{{doc.c2_13_1}}"></td>
		     <td>{{doc_prev.c2_13_1}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_2" min="0" max="9999" size="6" value="{{doc.c2_13_2}}"></td>
		     <td>{{doc_prev.c2_13_2}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_3" min="0" max="9999" size="6" value="{{doc.c2_13_3}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_4" min="0" max="9999" size="6" value="{{doc.c2_13_4}}"></td>
		     <td>{{doc_prev.c2_13_4}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_5" min="0" max="9999" size="6" value="{{doc.c2_13_5}}"></td>
		     <td>{{doc_prev.c2_13_5}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_6" min="0" max="9999" size="6" value="{{doc.c2_13_6}}"></td>
		     <td>{{doc_prev.c2_13_6}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_7" min="0" max="9999" size="6" value="{{doc.c2_13_7}}"></td>
		     <td>{{doc_prev.c2_13_7}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_8" min="0" max="9999" size="6" value="{{doc.c2_13_8}}"></td>
		     <td>{{doc_prev.c2_13_8}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_9" min="0" max="9999" size="6" value="{{doc.c2_13_9}}"></td>
		     <td>{{doc_prev.c2_13_9}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_10" min="0" max="9999" size="6" value="{{doc.c2_13_10}}"></td>
		     <td>{{doc_prev.c2_13_10}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_11" min="0" max="9999" size="6" value="{{doc.c2_13_11}}"></td>
		     <td>{{doc_prev.c2_13_11}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_12" min="0" max="9999" size="6" value="{{doc.c2_13_12}}"></td>
		     <td>{{doc_prev.c2_13_12}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_13" min="0" max="9999" size="6" value="{{doc.c2_13_13}}"></td>
		     <td>{{doc_prev.c2_13_13}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_14" min="0" max="9999" size="6" value="{{doc.c2_13_14}}"></td>
		     <td>{{doc_prev.c2_13_14}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_15" min="0" max="9999" size="6" value="{{doc.c2_13_15}}"></td>
		     <td>{{doc_prev.c2_13_15}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_16" min="0" max="9999" size="6" value="{{doc.c2_13_16}}"></td>
		     <td>{{doc_prev.c2_13_16}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_17" min="0" max="9999" size="6" value="{{doc.c2_13_17}}"></td>
		     <td>{{doc_prev.c2_13_17}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_18" min="0" max="9999" size="6" value="{{doc.c2_13_18}}"></td>
		     <td>{{doc_prev.c2_13_18}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_19" min="0" max="9999" size="6" value="{{doc.c2_13_19}}"></td>
		     <td>{{doc_prev.c2_13_19}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_20" min="0" max="9999" size="6" value="{{doc.c2_13_20}}"></td>
		     <td>{{doc_prev.c2_13_20}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_21" min="0" max="9999" size="6" value="{{doc.c2_13_21}}"></td>
		     <td>{{doc_prev.c2_13_21}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_22" min="0" max="9999" size="6" value="{{doc.c2_13_22}}"></td>
		     <td>{{doc_prev.c2_13_22}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_23" min="0" max="9999" size="6" value="{{doc.c2_13_23}}"></td>
		     <td>{{doc_prev.c2_13_23}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_24" min="0" max="9999" size="6" value="{{doc.c2_13_24}}"></td>
		     <td>{{doc_prev.c2_13_24}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_25" min="0" max="9999" size="6" value="{{doc.c2_13_25}}"></td>
		     <td>{{doc_prev.c2_13_25}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_26" min="0" max="9999" size="6" value="{{doc.c2_13_26}}"></td>
		     <td>{{doc_prev.c2_13_26}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_27" min="0" max="9999" size="6" value="{{doc.c2_13_27}}"></td>
		     <td>{{doc_prev.c2_13_27}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_28" min="0" max="9999" size="6" value="{{doc.c2_13_28}}"></td>
		     <td>{{doc_prev.c2_13_28}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_29" min="0" max="9999" size="6" value="{{doc.c2_13_29}}"></td>
		     <td>{{doc_prev.c2_13_29}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_30" min="0" max="9999" size="6" value="{{doc.c2_13_30}}"></td>
		     <td>{{doc_prev.c2_13_30}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_31" min="0" max="9999" size="6" value="{{doc.c2_13_31}}"></td>
		     <td>{{doc_prev.c2_13_31}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_32" min="0" max="9999" size="6" value="{{doc.c2_13_32}}"></td>
		     <td>{{doc_prev.c2_13_32}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_33" min="0" max="9999" size="6" value="{{doc.c2_13_33}}"></td>
		     <td>{{doc_prev.c2_13_33}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_34" min="0" max="9999" size="6" value="{{doc.c2_13_34}}"></td>
		     <td>{{doc_prev.c2_13_34}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_35" min="0" max="9999" size="6" value="{{doc.c2_13_35}}"></td>
		     <td>{{doc_prev.c2_13_35}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_36" min="0" max="9999" size="6" value="{{doc.c2_13_36}}"></td>
		     <td>{{doc_prev.c2_13_36}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_37" min="0" max="9999" size="6" value="{{doc.c2_13_37}}"></td>
		     <td>{{doc_prev.c2_13_37}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_38" min="0" max="9999" size="6" value="{{doc.c2_13_38}}"></td>
		     <td>{{doc_prev.c2_13_38}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_39" min="0" max="9999" size="6" value="{{doc.c2_13_39}}"></td>
		     <td>{{doc_prev.c2_13_39}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_40" min="0" max="9999" size="6" value="{{doc.c2_13_40}}"></td>
		     <td>{{doc_prev.c2_13_40}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_41" min="0" max="9999" size="6" value="{{doc.c2_13_41}}"></td>
		     <td>{{doc_prev.c2_13_41}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_42" min="0" max="9999" size="6" value="{{doc.c2_13_42}}"></td>
		     <td>{{doc_prev.c2_13_42}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_43" min="0" max="9999" size="6" value="{{doc.c2_13_43}}"></td>
		     <td>{{doc_prev.c2_13_43}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_44" min="0" max="9999" size="6" value="{{doc.c2_13_44}}"></td>
		     <td>{{doc_prev.c2_13_44}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_45" min="0" max="9999" size="6" value="{{doc.c2_13_45}}"></td>
		     <td>{{doc_prev.c2_13_45}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_46" min="0" max="9999" size="6" value="{{doc.c2_13_46}}"></td>
		     <td>{{doc_prev.c2_13_46}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_47" min="0" max="9999" size="6" value="{{doc.c2_13_47}}"></td>
		     <td>{{doc_prev.c2_13_47}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_48" min="0" max="9999" size="6" value="{{doc.c2_13_48}}"></td>
		     <td>{{doc_prev.c2_13_48}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_49" min="0" max="9999" size="6" value="{{doc.c2_13_49}}"></td>
		     <td>{{doc_prev.c2_13_49}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_50" min="0" max="9999" size="6" value="{{doc.c2_13_50}}"></td>
		     <td>{{doc_prev.c2_13_50}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_51" min="0" max="9999" size="6" value="{{doc.c2_13_51}}"></td>
		     <td>{{doc_prev.c2_13_51}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_52" min="0" max="9999" size="6" value="{{doc.c2_13_52}}"></td>
		     <td>{{doc_prev.c2_13_52}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_53" min="0" max="9999" size="6" value="{{doc.c2_13_53}}"></td>
		     <td>{{doc_prev.c2_13_53}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_54" min="0" max="9999" size="6" value="{{doc.c2_13_54}}"></td>
		     <td>{{doc_prev.c2_13_54}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_55" min="0" max="9999" size="6" value="{{doc.c2_13_55}}"></td>
		     <td>{{doc_prev.c2_13_55}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_56" min="0" max="9999" size="6" value="{{doc.c2_13_56}}"></td>
		     <td>{{doc_prev.c2_13_56}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_57" min="0" max="9999" size="6" value="{{doc.c2_13_57}}"></td>
		     <td>{{doc_prev.c2_13_57}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_58" min="0" max="9999" size="6" value="{{doc.c2_13_58}}"></td>
		     <td>{{doc_prev.c2_13_58}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_59" min="0" max="9999" size="6" value="{{doc.c2_13_59}}"></td>
		     <td>{{doc_prev.c2_13_59}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_60" min="0" max="9999" size="6" value="{{doc.c2_13_60}}"></td>
		     <td>{{doc_prev.c2_13_60}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_61" min="0" max="9999" size="6" value="{{doc.c2_13_61}}"></td>
		     <td>{{doc_prev.c2_13_61}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_62" min="0" max="9999" size="6" value="{{doc.c2_13_62}}"></td>
		     <td>{{doc_prev.c2_13_62}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_63" min="0" max="9999" size="6" value="{{doc.c2_13_63}}"></td>
		     <td>{{doc_prev.c2_13_63}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_64" min="0" max="9999" size="6" value="{{doc.c2_13_64}}"></td>
		     <td>{{doc_prev.c2_13_64}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_65" min="0" max="9999" size="6" value="{{doc.c2_13_65}}"></td>
		     <td>{{doc_prev.c2_13_65}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_66" min="0" max="9999" size="6" value="{{doc.c2_13_66}}"></td>
		     <td>{{doc_prev.c2_13_66}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_67" min="0" max="9999" size="6" value="{{doc.c2_13_67}}"></td>
		     <td>{{doc_prev.c2_13_67}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_68" min="0" max="9999" size="6" value="{{doc.c2_13_68}}"></td>
		     <td>{{doc_prev.c2_13_68}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_69" min="0" max="9999" size="6" value="{{doc.c2_13_69}}"></td>
		     <td>{{doc_prev.c2_13_69}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_70" min="0" max="9999" size="6" value="{{doc.c2_13_70}}"></td>
		     <td>{{doc_prev.c2_13_70}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_71" min="0" max="9999" size="6" value="{{doc.c2_13_71}}"></td>
		     <td>{{doc_prev.c2_13_71}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_72" min="0" max="9999" size="6" value="{{doc.c2_13_72}}"></td>
		     <td>{{doc_prev.c2_13_72}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>
		   <tr>
		     <td><h6></h6></td>
		     <td><input type="number" name="c2_13_" min="0" max="9999" size="6" value="{{doc.c2_13_}}"></td>
		     <td>{{doc_prev.c2_13_}}</td>
		   </tr>

  		</table>
{% endblock %}

