{% extends 'medicament/document_form.html' %}
{% block monitorform %}
          <table class="table id="table1">
		   <caption>Мониторинг {{doc_type.name}}</caption>
		   <tr>
		    <th></th>
		    <th>Колонка 1</th>
		    <th>Колонка 2</th>
		    <th>Колонка 3</th>
		    <th>Колонка 4</th>
		    <th>Колонка 5</th>
		    <th>Колонка 6</th>
		    <th>Колонка 7</th>
		    <th>Колонка 8</th>
		   </tr>
		   <tr>
		        <td  width="15%"><h6>Строка 1</h6></td>
		        <td><input type="number" name="c1_1" min="0" max="100" step="1" size="3" value="{{doc.c1_1}}"></td>
		        <td><input type="number" name="c1_2" min="0" max="100" step="1" size="3" value="{{doc.c1_2}}"></td>
		        <td><input type="number" name="c1_3" min="0" max="100" step="1" size="3" value="{{doc.c1_3}}"></td>
		        <td><input type="number" name="c1_4" min="0" max="100" step="1" size="3" value="{{doc.c1_4}}"></td>
		        <td><input type="number" name="c1_5" min="0" max="100" step="1" size="3" value="{{doc.c1_5}}"></td>
		        <td><input type="number" name="c1_6" min="0" max="100" step="1" size="3" value="{{doc.c1_6}}"></td>
		        <td><input type="number" name="c1_7" min="0" max="100" step="1" size="3" value="{{doc.c1_7}}"></td>
		        <td><input type="number" name="c1_8" min="0" max="100" step="1" size="3" value="{{doc.c1_8}}"></td>
		   </tr>
		   <tr>
		        <td><h6>Строка 2</h6></td>
		        <td><input type="number" name="c2_1" min="0" max="100" step="1" size="3" value="{{doc.c2_1}}"></td>
		        <td><input type="number" name="c2_2" min="0" max="100" step="1" size="3" value="{{doc.c2_2}}"></td>
		        <td><input type="number" name="c2_3" min="0" max="100" step="1" size="3" value="{{doc.c2_3}}"></td>
		        <td><input type="number" name="c2_4" min="0" max="100" step="1" size="3" value="{{doc.c2_4}}"></td>
		        <td><input type="number" name="c2_5" min="0" max="100" step="1" size="3" value="{{doc.c2_5}}"></td>
		        <td></td>
		        <td></td>
		        <td></td>
		   </tr>
		   <tr>
		        <td><h6>Строка 3</h6></td>
		        <td><input type="number" name="c3_1" min="0" max="100" step="1" size="3" value="{{doc.c3_1}}"></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td><input type="number" name="c3_5" min="0" max="100" step="1" size="3" value="{{doc.c3_5}}"></td>
		        <td><input type="number" name="c3_6" min="0" max="100" step="1" size="3" value="{{doc.c3_6}}"></td>
		        <td><input type="number" name="c3_7" min="0" max="100" step="1" size="3" value="{{doc.c3_7}}"></td>
		        <td><input type="number" name="c3_8" min="0" max="100" step="1" size="3" value="{{doc.c3_8}}"></td>
		   </tr>
		   <tr>
		        <td><h6>Строка 4</h6></td>
		        <td><input type="number" name="c4_1" min="0" max="100" step="1" size="3" value="{{doc.c4_1}}"></td>
		        <td><input type="number" name="c4_2" min="0" max="100" step="1" size="3" value="{{doc.c4_2}}"></td>
		        <td><input type="number" name="c4_3" min="0" max="100" step="1" size="3" value="{{doc.c4_3}}"></td>
		        <td><input type="number" name="c4_4" min="0" max="100" step="1" size="3" value="{{doc.c4_4}}"></td>
		        <td><input type="number" name="c4_5" min="0" max="100" step="1" size="3" value="{{doc.c4_5}}"></td>
		        <td><input type="number" name="c4_6" min="0" max="100" step="1" size="3" value="{{doc.c4_6}}"></td>
		        <td><input type="number" name="c4_7" min="0" max="100" step="1" size="3" value="{{doc.c4_7}}"></td>
		        <td><input type="number" name="c4_8" min="0" max="100" step="1" size="3" value="{{doc.c4_8}}"></td>
		   </tr>
  		</table>
{% endblock %}

