{% extends 'main.html' %}
{% load staticfiles %}

{% block monitorlist %}
<div class="row full-width">
<div class="large-12 columns">
     <h4><a href="/form/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}},{{region}}">{{doc_type.name}}</a></h4>
    
 {% if doc %}
     <div class="row full-width">
     <div class="medium-12 columns">
     <div class="panel">
	     	<div class="medium-12-4 medium-4 columns">
		         <h6>{{ doc.hosp }}</h6> 
	        </div>
	     	<div class="medium-12-3 medium-3 columns">
		         <h6>{{ doc.period}}</h6> 
	        </div>
	     	<div class="medium-12-2 medium-2 columns">
		         <h6>{{doc.datef}}</h6> 
	        </div>
	     	<div class="medium-12-3 medium-3 columns">
		         <h6>{{ doc.get_status_display }}</h6> 
	        </div>
          <div class="medium-12-12 columns">
          <h5 class="errmess">{{error}}</h5>
          </div>
          <form>
           {% csrf_token %}
           {% block monitorform %} {% endblock %}
     
           {% if right_operator %}
           {% if doc.status == 'E' or doc.status == 'C' %}
    		 <button class="button" name="button_save" value="1" type="submit" formmethod="post">Сохранить</button>         
    		 <button class="button" name="button_send_control" value="2" type="submit" formmethod="post">На согласование</button>         
    		 <button class="button" name="button_export" value="3" type="submit" formmethod="post">Экспорт в Excel</button>         
          {% endif %}
          {% endif %}
          {% if right_control %}
          {% if doc.status == 'W' %}
  	    	<button class="button" name="button_isOK" value="3" type="submit" formmethod="post">Согласовано</button>         
  		    <button class="button" name="button_isNotOK" value="4" type="submit" formmethod="post">Не согласовано</button>         
          {% endif %}
          {% endif %}

  		  </form>
           
    </div>
    </div>
       <div class="large-offset-1 large-8 columns">
         <h4>Комментарии</h4>
         {% if comment %}
         {% for c in comment %}
         <h6>{{c.user.first_name}} {{c.user.last_name}}:  {{c.date}}:  {{c.get_action_display}}<h6>
         <p>{{c.text}}<p>
         <hr>
         {% endfor %}
         {% endif %}
         {% if doc.status != 'F' %}
         <form action="monitor/add_comment/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}},{{region}}/" method = "post">
            {%csrf_token%}
            {{form}}
  		    <button class="button" name="button_addComment" value="5" type="submit" formmethod="post">Добавить</button>         
         </form>
         {% endif %}
      </div>
    </div>
 {% else %} 
    <p>Мониторинги не найдены‹</p>
{% endif %}
</div>
</div>
{% endblock %}
