{% extends 'main.html' %}
{% load staticfiles %}

{% block photolist %}
<div class=large-8 columns>
{% if photo %}
      <h2>Фото  {{ photo.id }} полностью для просмотра </h2>
      <h5>Дата публикации {{ photo.photo_date }} </h5>
      <h4><a href="../">{{ photo.photo_title }}</a></h4>
      <img src="{% static "albums/" %}{{photo.photo_image}}" alt="My image" width=400/> 
      <p>Тест{{ photo.photo_text }}</p>
      <h5>{{ photo.photo_album}}</h3>
      <p><a href="../addlike/{{ photo.id }}"><img src="{% static "albums/like.jpg" %}" alt="Like" width=40/></a> {{photo.photo_rating_sum}} Кол {{photo.photo_rating_num}} <p>
      <hr>
      <div class="large-offset-1 large-8 columns">
         <h4>Комментарии</h4>
         <hr>
         {% for c in comment %}
         <hr>
         <h6>{{c.comment_user.username}}: {{c.comment_date}}<h6>
         <p>{{c.comment_text}}<p>
         <hr>
         {% endfor %}
         {% if username %}
         <form action="../addcomment/{{photo.id}}/" method = "post">
          {%csrf_token%}
          {{form}}
          <input type="submit" class="button" value="Добавить комментарий">
         </form>
         {% endif %}
      </div>
 {% else %} 
    <p>Фото не найдено.</p>
{% endif %}
</div>
{% endblock %}
