{% extends 'main.html' %}
{% load staticfiles %}

{% block monitorlist %}
<div class="row">
<div class="large-12 columns">
     <h3><a href="/form/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}},{{region}}">{{doc_type.name}}</a></h3>
    
 {% if doc_list %}
     <div class="medium-3 columns">
        <h4>ИТОГО</h4>
     </div>     
     <div class="medium-3 columns">
        <h5>{{period_name}} ({{period_name.dateb|date:"d/m/y"}}-{{period_name.datee|date:"d/m/y"}})</h5>
     </div>     
     <div class="medium-3 columns">
        <h5>{{region_name}}</h5>
     </div>     
  </div>     

<ul class="tabs" data-tab role="tablist">
  {% if detail_tab == 'doc_1' or detail_tab == '' %}
  <li class="tab-title active" role="presentational" ><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Таблица начало</a></li>
  {% else %}
  <li class="tab-title" role="presentational" ><a href="#panel2-1" role="tab" tabindex="0" aria-selected="false" controls="panel2-1">Таблица начало</a></li>
  {% endif %}
  {% if detail_tab == 'tab1000' %}
  <li class="tab-title active" role="presentational" ><a href="#panel2-2" role="tab" tabindex="0"aria-selected="true" controls="panel2-2">Таблица 1000</a></li>
  {% else %}
  <li class="tab-title" role="presentational" ><a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">Таблица 1000</a></li>
  {% endif %}
  {% if detail_tab == 'tab2000' %}
  <li class="tab-title active" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="true" controls="panel2-3">Таблица 2000</a></li>
  {% else %}
  <li class="tab-title" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3">Таблица 2000</a></li>
  {% endif %}
  {% if detail_tab == 'doc_2' %}
  <li class="tab-title active" role="presentational" ><a href="#panel2-4" role="tab" tabindex="0" aria-selected="true" controls="panel2-4">Таблица Конец</a></li>
  {% else %}
  <li class="tab-title" role="presentational" ><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" controls="panel2-4">Таблица Конец</a></li>
  {% endif %}
  
</ul>
<div class="tabs-content">
  {% if detail_tab == 'doc_1' or detail_tab == '' %}
  <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
  {% else %}
  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-1">
  {% endif %}
   
          <table class="table" id="table1" cellpadding="1" cellspacing="1">
		   <tr>
    	    <td></td>
		    <th>Показатель</th>
		    <th></th>
		   </tr>
           {% for line in result.doc %}
 		       <tr  class="itog_row">
  		           <td><a href="/form/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}},{{region}},{{forloop.counter0}},"doc_1">+</a></td>
		          <td>{{line.0}}</td>
		          <td>{{line.1}}</td>
		       </tr>
 	         {% if detail %}
               {% if forloop.counter0 == detail_line %} 
   	             {% for q in doc_list %}
                   <tr class="detail_row">
 	 	           <td></td>
 		           {% if forloop.parentloop.counter0 == 0 %}
 		             <td>{{q.hosp}}</td>
	                 <td>{{q.c7002}}</td>
                   {% elif forloop.parentloop.counter0 == 1 %}
                   {% elif forloop.parentloop.counter0 == 2 %}
                   {% endif %}
                   </tr>
                 {% endfor %}  
               {% endif %}
             {% endif %}
           {% endfor %}  
  		</table>
  </section>
  {% if detail_tab == 'tab1000' %}
  <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-2">
  {% else %}
  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
  {% endif %}
          <table class="table" id="table1" cellpadding="1" cellspacing="1">
		   <tr>
		    <th></th>
		    <th>Показатель</th>
		    <th>с3</th>
		    <th>с4</th>
		   </tr>
           {% for line in result.tab1000 %}
 		        <tr class="itog_row">
	      	      <td><a href="/form/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}},{{region}},{{line.0.id}},tab1000">+</a></td>
		          <td>{{line.0.name}}</td>
		          <td>{{line.1}}</td>
		          <td>{{line.2}}</td>
		       <tr>
		       {% if detail_line == line.0.id %}
               {% for t in tab %}
 		        <tr>
	      	      <td></td>
	      	      <td>{{t.doc.hosp}}</td>
	      	      <td>{{t.c3}}</td>
	      	      <td>{{t.c4}}</td>
 		        </tr>
               {% endfor %}
		       {% endif %}
		       
           {% endfor %}  
  		</table>
  </section>
  {% if detail_tab == 'tab2000' %}
  <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-3">
  {% else %}
  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
  {% endif %}
          <table class="table" id="table1" cellpadding="1" cellspacing="1">
		   <tr>
		    <th></th>
		    <th>Показатель</th>
		    <th>с3</th>
		    <th>с4</th>
		   </tr>
           {% for line in result.tab2000 %}
 		        <tr class="itog_row">
	      	      <td><a href="/form/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}},{{region}},{{line.0.id}},tab2000">+</a></td>
		          <td>{{line.0.name}}</td>
		          <td>{{line.1}}</td>
		          <td>{{line.2}}</td>
		       <tr>
		       {% if detail_line == line.0.id %}
               {% for t in tab %}
 		        <tr>
	      	      <td></td>
	      	      <td>{{t.doc.hosp}}</td>
	      	      <td>{{t.c3}}</td>
	      	      <td>{{t.c4}}</td>
 		        </tr>
               {% endfor %}
		       {% endif %}
		       
           {% endfor %}  
  		</table>
  </section>
  {% if detail_tab == 'doc_2' %}
    <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-4">
  {% else %} 
    <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
  {% endif %} 
          <table class="table" id="table1" cellpadding="1" cellspacing="1">
		   <tr>
    	    <td></td>
		    <th>Показатель</th>
		    <th></th>
		   </tr>
           {% for line in result.doc %}
 		       <tr  class="itog_row">
  		           <td><a href="/form/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}},{{region}},{{forloop.counter0}},"doc_2">+</a></td>
		          <td>{{line.0}}</td>
		          <td>{{line.1}}</td>
		       </tr>
 	         {% if detail %}
               {% if forloop.counter0 == detail_line %} 
   	             {% for q in doc_list %}
                   <tr class="detail_row">
 	 	           <td></td>
 		           {% if forloop.parentloop.counter0 == 0 %}
	                 <td>{{q.hosp}}</td>
	                 <td>{{q.c7002}}</td>
                   {% elif forloop.parentloop.counter0 == 1 %}
                   {% elif forloop.parentloop.counter0 == 2 %}
                   {% endif %}
                   </tr>
                 {% endfor %}  
               {% endif %}
             {% endif %}
           {% endfor %}  
  		</table>
  </section>
</div>

  


  <form>
    {%csrf_token%}
    <button class="button" name="button_export" value="7" type="submit" formmethod="post">Экспорт в Excel</button>   
    <input  class="par_hidden" type="text" size="1" name="mo[]" value={{hosp}}>
    <input  class="par_hidden" type="text" size="1" name="period" value={{period}}>
    <input  class="par_hidden" type="text" size="1" name="status" value={{status}}>
    <input  class="par_hidden" type="text" size="1" name="region" value={{region}}>
 </form>
 {% else %} 
    <p>Мониторинги не найдены</p>
{% endif %}
</div>

</div>

{% endblock %}
