{% extends 'main.html' %}
{% load staticfiles %}

{% block monitorlist %}
<div class="row">
<div class="large-12 columns">
     <h3><a href="/form/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}}">{{doc_type.name}}</a></h4>
    
 {% if doc_list %}
     <div class="large-3 columns">
        <h4>ИТОГО2</h2>
     </div>     
     <div class="large-6 columns">
        <h4>{{period_name}}</h2>
     </div>     
     <div class="row">
        <div class="small-3 columns"></div>
        <div class="small-2 columns">
           <h5>Всего</h5>
        </div>
        <div class="small-1 columns">Дети(0-18), Всего</div>
        <div class="small-1 columns">В т.ч дети до 3-х лет</div>
        <div class="small-1 columns">Мужчины старше 60, женщины старше 55</div>
        <div class="small-1 columns">Инвалиды и участники ВОВ*</div>
        <div class="small-1 columns">Сахарный диабет</div>
        <div class="small-1 columns">Бронхиальная астма</div>
        <div class="small-1 columns">Онкологические заболевания</div>
      </div>
{% endif %}
</div>

{% endblock %}
