{% extends 'main.html' %}
{% load staticfiles %}

{% block monitorlist %}
<div class="row">
<div class="large-12 columns">
     <h3><a href="/form/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}},{{region}}">{{doc_type.name}}</a></h3>
    
 {% if doc_list %}
     <div class="medium-3 columns">
        <h4>ИТОГО</h4>
     </div>     
     <div class="medium-3 columns">
        <h5>{{period_name}} ({{period_name.dateb|date:"d/m/y"}}-{{period_name.datee|date:"d/m/y"}})</h5>
     </div>     
     <div class="medium-3 columns">
        <h5>{{region_name}}</h5>
     </div>     
  </div>     
     <table>
       <thead>
		   <tr>
		    <th></th>
		    <th>Показатель</th>
		    <th>Значение</th>
		   </tr>
        </thead>
        {% for r in result %}
        <tr class="itog_row">	
 	    <td><a href="/form/{{doc_type.id}},{{page_number}},{{hosp}},{{period}},{{status}},{{region}},{{forloop.counter0}}">+</a></td>
        {% for r1 in r %}
		   <td>{{r1}}</td>
		{% endfor%}    
        </tr>

	       {% if detail %}
           {% if forloop.counter0 == detail_line %} 
   	       {% for q in doc_list %}
            <tr class="detail_row">
 	 	      <td></td>
 		      {% if forloop.parentloop.counter0 == 0 %}
	            <td>{{q.hosp}}</td>
	            <td>{{q.c1_1_1}}</td>
              {% elif forloop.parentloop.counter0 == 1 %}
	            <td>{{q.hosp}}</td>
		        <td>{{q.c1_1_2}}</td>
              {% endif %}
            </tr>
		   {% endfor%}  
		   {% endif %}  
		   {% endif %}  
 		{% endfor%}        
     </table>
     <form>
         {%csrf_token%}
         <button class="button" name="button_export" value="7" type="submit" formmethod="post">Экспорт в Excel</button>   
         <input  class="par_hidden" type="text" size="1" name="mo[]" value={{hosp}}>
         <input  class="par_hidden" type="text" size="1" name="period" value={{period}}>
         <input  class="par_hidden" type="text" size="1" name="status" value={{status}}>
         <input  class="par_hidden" type="text" size="1" name="region" value={{region}}>
     </form>
 {% else %} 
    <p>Мониторинги не найдены</p>
{% endif %}
</div>

</div>

{% endblock %}
