{% extends 'main.html' %}
{% load staticfiles %}

{% block monitorlist %}
<div class="row">
<div class="large-12 columns">
     <h4><a href="/form1">Лекарственное обеспечение Отчет</a></h4>
    
 {% if doc_list %}
 	 {% for q in doc_list %}
     <div class="panel">
        <div class="row">
          <div class="large-12 columns">
             <div class="large-4 large-4 columns">
				<h6>{{ q.hosp }}</h6>
             </div>
             <div class="large-2 large-4 columns">
				  <h6>{{q.period}}</h>
             </div>
             <div class="large-3 large-4 columns">
				  <h6>{{q.get_status_display}}</h6>
             </div>
          </div>
        </div>
      </div>
     <table>
       <thead>
		   <tr>
		    <th></th>
		    <th>Колонка 1</th>
		    <th>Колонка 2</th>
		    <th>Колонка 3</th>
		    <th>Колонка 4</th>
		    <th>Колонка 5</th>
		    <th>Колонка 6</th>
		    <th>Колонка 7</th>
		    <th>Колонка 8</th>
		   </tr>
		   <tr>
	        <td>Строка 1</td>
	        <td>{{q.c1_1}}</td>
	        <td>{{q.c1_2}}</td>
	        <td>{{q.c1_3}}</td>
	        <td>{{q.c1_4}}</td>
	        <td>{{q.c1_5}}</td>
	        <td>{{q.c1_6}}</td>
	        <td>{{q.c1_7}}</td>
	        <td>{{q.c1_8}}</td>
		   </tr>
		   <tr>
	        <td>Строка 2</td>
	        <td>{{q.c2_1}}</td>
	        <td>{{q.c2_2}}</td>
	        <td>{{q.c2_3}}</td>
	        <td>{{q.c2_4}}</td>
	        <td>{{q.c2_5}}</td>
	        <td></td>
	        <td></td>
	        <td></td>
		   </tr>
		   <tr>
	        <td>Строка 3</td>
	        <td>{{q.c3_1}}</td>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td>{{q.c3_5}}</td>
	        <td>{{q.c3_6}}</td>
	        <td>{{q.c3_7}}</td>
	        <td>{{q.c3_8}}</td>
		   </tr>
		   <tr>
	        <td>Строка 4</td>
	        <td>{{q.c1_1}}</td>
	        <td>{{q.c1_2}}</td>
	        <td>{{q.c1_3}}</td>
	        <td>{{q.c1_4}}</td>
	        <td>{{q.c1_5}}</td>
	        <td>{{q.c1_6}}</td>
	        <td>{{q.c1_7}}</td>
	        <td>{{q.c1_8}}</td>
		   </tr>
     </table>
 {% endfor %}
     <h2>ИТОГО</h2> 
     <table>
       <thead>
		   <tr>
		    <th></th>
		    <th>Колонка 1</th>
		    <th>Колонка 2</th>
		    <th>Колонка 3</th>
		    <th>Колонка 4</th>
		    <th>Колонка 5</th>
		    <th>Колонка 6</th>
		    <th>Колонка 7</th>
		    <th>Колонка 8</th>
		   </tr>
        </thead>
        {% for r in result %}
		   <tr>
        {% for r1 in r %}
		   <td>{{r1}}</td>
		{% endfor%}        
           </tr>
		{% endfor%}        
     </table>

 {% else %} 
    <p>Мониторинги не найдены</p>
{% endif %}
</div>

</div>

{% endblock %}
