{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
   <title>
     Django Мониторинги
   </title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css'%}" />
   <style>
     .rowsel:hover {background: #f0f080}
     .errmess {background: #dd0000}
     .itog_row { background: #f0f080 !important }
     .detail_row { background: #eeeeee }
     .row.full-width {
        width: 100%;
        max-width: 100%; 
     }
     .row_mess {
        align:"center" !important
     }
   </style>
    <script type="text/javascript" src="{% static 'js/jquery-1.4.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jqia2.support.js'%}"></script>
    <script type="text/javascript">
        $(function(){
          $("table").click(swapThemOn).dblclick(swapThemOff);
        });  
        function swapThemOn() {
            $('tr.detail_row').show();
        }
        function swapThemOff() {
            $('tr.detail_row').hide();
        }

    </script>
   
</head>
<body>
 
<div class="top-bar">
    <section class="top-bar-section">
    <ul class = "right">
       {% if username %}
          <li><a href="/auth/logout">Выйти ({{username}})</a></li>
       {% else %}
          <li><a href="/auth/login">Вход</a></li>
       {% endif %}
    </ul>  
    </section>
</div>

<div class="row full-width" >
<div class="large-12 columns">
<h1><a href="/">МИАЦ мониторинги</a></h1>
</div>   
</div>   
      {% block monitorlist %} {% endblock %}
      {% block login %} {% endblock %}
</body>
</html>